<section class="max-w-5xl mx-auto mb-10">
    <div class="block">
        <article class="w-full">
            <header class="mb-8">
                <h2 class="border-l-[3px] pl-2 mb-1 font-semibold text-lg border-green-700">Farándula</h2>
                <h1 class="text-4xl font-semibold mb-3">Un famoso actor fue capturado en una fiesta clandestina.</h1>
                <p class="text-gray-400">Un famoso actor fue capturado en una fiesta clandestina.</p>
            </header>
            <figure class="w-full">
                <img class="w-full object-cover object-center mb-1 rounded-md" src="{{ file_url('public://assets-fake/img-10101.jpg') }}" alt="">
                <figcaption class="text-gray-400"><i class="mir mi-camera_alt mr-2 align-middle"></i> <span>Zona urbana | foto ciudad</span></figcaption>
            </figure>
        </article>
    </div>
</section>

