<section class="max-w-7xl mx-auto mb-10">
    <div class="block mb-4">
        <title-section set-title="Ultimas noticias"></title-section>
    </div>
    <div class="block">
        <ul class="grid grid-cols-12 gap-4">
            {% for item in data %}
            <li class="col-span-4 h-full">
                <card-new
                    image-src="{{ file_url('public://assets-fake/new-' ~ (item ?: 'default') ~ '.jpg') }}"
                    city="Ciudad"
                    url="#"
                    title="Lorem ipsum dolor, sit amet consectetur adipisicing."
                    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis recusandae voluptates dicta consectetur! Molestias beatae veritatis placeat"
                    date="2024-08-22">
                </card-new>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>